.div-fill {
  width: 100%;
  height: 100%;
}

.anchor-no-dec,
.anchor-no-dec:hover,
.anchor-no-dec:visited,
.anchor-no-dec:link,
.anchor-no-dec:active {
  text-decoration: none;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

.flexbox-center--horz {
  align-items: center;
}

.flexbox-center--vert {
  justify-content: center;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
a,
a:hover,
a:visited,
a:link,
a:active {
  color: inherit;
}

p {
  font-size: 18px;
}

h2, .h2 {
  font-size: 54px;
}

h4, .h4 {
  font-size: 30px;
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: white !important;
}

.text-flavor-primary {
  color: #3d4852;
}

.text-flavor-secondary {
  color: #4fc4e6;
}

.text-flavor-tertiary {
  color: #f07e5e;
}

.text-flavor-quaternary {
  color: #28c278;
}

/*
.text-flavor-primary { color: $colorFlavorPrimary; }
.text-flavor-primary-bright { color: $colorFlavorPrimaryBright; }
*/
.button {
  font-size: 16px;
  padding: 12px 30px;
  border: 0;
  margin: 20px 0;
  display: inline-table;
}

.btn--lg {
  font-size: 20px;
  padding: 15px 60px;
}

.btn-flavor-primary {
  transition: background 0.1s;
  -webkit-transition: background 0.1s;
  background: #3d4852;
}

.btn-flavor-secondary {
  transition: background 0.1s;
  -webkit-transition: background 0.1s;
  background: #4fc4e6;
}

.btn-flavor-tertiary {
  transition: background 0.1s;
  -webkit-transition: background 0.1s;
  background: #f07e5e;
}

.btn-flavor-quaternary {
  transition: background 0.1s;
  -webkit-transition: background 0.1s;
  background: #28c278;
}

.btn-flavor-primary:hover {
  background: #6d7781;
}

.btn-flavor-secondary:hover {
  background: #5dd4f6;
}

.btn-flavor-tertiary:hover {
  background: #fd9476;
}

.btn-flavor-quaternary:hover {
  background: #2dd484;
}

/*

.btn-flavor-secondary,
.btn-flavor-tertiary,
.btn-flavor-quaternary
{
	transition: background 0.1s;
	-webkit-transition: background 0.1s;
}

.btn-flavor-secondary
{
	background: $colorFlavorSecondary;
	&:hover
	{
		background: $colorFlavorSecondaryBright;
	}
}

.btn-flavor-tertiary
{
	background: $colorFlavorTertiary;
	&:hover
	{
		background: $colorFlavorTertiaryBright;
	}
}

.btn-flavor-quaternary
{
	background: $colorFlavorQuaternary;
	&:hover
	{
		background: $colorFlavorQuaternaryBright;
	}
}
*/
.select-container select {
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
}

select {
  padding: 10px 20px;
  margin: 20px 0;
  color: #9AA0A5;
  border: 2px solid #CDD1D4;
  font-size: 16px;
  background: url("/IBM-FED-Exercise/res/graphics/select-arrow.png") no-repeat right;
  background-position: 95%;
  -webkit-appearance: none;
  overflow: hidden;
}
select:hover {
  cursor: pointer;
  border: 2px solid #3d4852;
  background: url("/IBM-FED-Exercise/res/graphics/select-arrow-hover.png") no-repeat right;
  background-position: 95%;
}

option {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}

/* car-showcase */
/* car-search */
/* overlay */
/* car-showcase */
.car-showcase {
  padding: 40px 0;
}
.car-showcase:nth-child(even) {
  background: #F0F2F3;
}
.car-showcase:nth-child(odd) {
  background: white;
}

.car-showcase__text__header {
  width: 85%;
}

.car-showcase__text {
  padding: 10px 0;
}

.car-showcase__text-inner {
  width: 90%;
}

.car-showcase__text__description {
  line-height: 1.6;
  word-spacing: 3px;
  margin: 15px 0;
}

.car-showcase__images {
  padding: 0;
}

.car-showcase__images__image-container {
  display: inline-block;
  margin: 0 10px;
}

.car-showcase__image,
.car-showcase__image-inner {
  height: 280px;
  width: 280px;
}

.car-showcase__image {
  display: inline-block;
  margin: 0 8px;
}
.car-showcase__image:first-child {
  margin-left: 0;
}
.car-showcase__image:last-child {
  margin-right: 0;
}

/* car-search */
.car-search {
  padding: 28px 0;
}

.car-search__element {
  padding-right: 10px;
  padding-left: 10px;
}
.car-search__element:first-child {
  margin-left: -10px;
}
.car-search__element:last-child {
  margin-right: -10px;
}

.car-search__element > select,
.car-search__element > a {
  height: 45px !important;
}

/* overlay */
.overlay-text {
  position: absolute;
  opacity: 0;
  color: white;
  transition: 0.1s;
}

.overlay:hover .overlay-text {
  opacity: 1;
  background-color: rgba(62, 72, 82, 0.8);
}

.overlay-text__header {
  font-size: 26px;
  border-bottom: 2px solid white;
  padding: 15px 45px;
  margin-top: 0;
}

/* nav */
/* hero */
/* nav */
nav {
  height: 50px;
  background: #3D4852;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.navbar-nav {
  float: right;
}

.brand {
  padding: 0 0 0 25px;
}

.brand > img {
  display: inline-block;
}

.nav > li > a:hover,
.nav > li > a:visited {
  background: #6d7781;
}

/* hero */
.hero {
  background-image: url("/IBM-FED-Exercise/res/graphics/hero-bg.jpg");
  background-position: center center;
  min-height: 500px;
}
.hero::before {
  background: #f3f3f0;
}

.hero-inner {
  min-height: 500px;
}

.website-footer {
  background: #3D4852;
  padding: 50px 0;
}

.footer-nav {
  padding: 0 40px;
}

.footer-nav > li {
  display: inline-block;
  line-height: 50px;
}
.footer-nav > li::after {
  content: "|";
  padding: 10px;
}
.footer-nav > li:last-child::after {
  content: "";
  padding: 0;
}
