<!DOCTYPE html>
<html>
	<head>
		<!-- META TAGS AND PAGE INFO -->
		<!---------------------------------------------->
		<meta charset="utf-8">
		<meta name="Description" CONTENT="An example website created for a coding exercise.">
		<title>AutoSales.Com</title>
		<link rel="icon" href="/IBM-FED-Exercise/res/graphics/logo0.png"> 
		
		<!-- OPEN GRAPH METATAGS -->
		<meta property="og:title" content="Autosales.com">
		<meta property="og:type" content="website">
		<meta property="og:url" content="omrin7.github.io/IBM-FED-Exercise">
		<meta property="og:image" content="/IBM-FED-Exercise/res/graphics/og-thumbnail.jpg">

		
		<!-- LIBRARIES -->
		<!---------------------------------------------->
		
		<!-- BOOTSTRAP CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- AWESOMEFONT CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		
		
		<!-- STYLESHEETS -->
		<!---------------------------------------------->

		<!-- Autosales.com STYLESHEET -->
		<link rel="stylesheet" href="/IBM-FED-Exercise/res/css/style.css">
		
		
		
	</head>
	<body>
	
		<!-- NAVBAR -->
		<header>
			<nav>
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="brand" href="#">
							<img src="/IBM-FED-Exercise/res/graphics/logo0.png" alt="AutoSales.com's Logo">
							<img src="/IBM-FED-Exercise/res/graphics/logo1.png" alt="AutoSales.com's Logo">
						</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="text-white"><a href="#">Cars for Sale</a></li> 
						<li class="text-white"><a href="#">Sell My Car</a></li>
						<li class="text-white"><a href="#">Find a Dealer</a></li>
						<li class="text-white"><a href="#">Contact Us</a></li>
						<li class="text-white"><a href="#"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</nav>
		</header>
		
		
		<!-- HERO -->
		<section class="hero">
			<div class="container">
				<div class="row">
					<div class="col-md-7 hero-inner flexbox flexbox-center--vert">
						<h2 class="text-bold text-flavor-primary">The Car of Your Dreams is Only a Click Away!</h2>
						<a class="button anchor-no-dec btn--lg btn-flavor-quaternary text-white text-bold" href="#">Get Started Now</a>
					</div>
				</div>
			</div>
		</section>
		
		<!-- CAR-SEARCH -->
		<section class="car-search">
			<div class="container">
				<div class="row">
					<div class="col-md-3 car-search__element select-container">
						<select class="text-bold div-fill" name="carlist" form="carform">
							<option value="null" selected>Make</option>
							<option value="1997">1997</option>
							<option value="1999">1999</option>
						</select>
					</div>
					<div class="col-md-3 car-search__element select-container">
						<select class="text-bold div-fill" name="carlist" form="carform">
							<option value="null" selected>Model</option>
							<option value="arnold">T-800</option>
							<option value="robert">T-1000</option>
						</select>
					</div>
					<div class="col-md-3 car-search__element select-container">
						<select class="text-bold div-fill" name="carlist" form="carform">
							<option value="null"  selected>Price</option>
							<option value="expensive">Loadsemone</option>
							<option value="cheap">Cheap</option>
						</select>
					</div>
					<div class="col-md-3 car-search__element">
						<a class="button anchor-no-dec anchor-no-dec btn-flavor-tertiary text-bold div-fill text-center text-white" href="#">Find My Dream Car</a>
					</div>
				</div>
			</div>
		</section>
		
		
		<!-- CAR-SHOWCASE 0 - HONDA -->
		<section class="car-showcase">
			<div class="container">
				<div class="row">
					<div class="col-md-6 car-showcase__text">
						<div class="pull-left car-showcase__text-inner">
							<h1 class="text-flavor-primary text-bold h4">Honda Cars and SUVs</h1>
							<p class="car-showcase__text__description text-flavor-primary ">
								Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette 
								tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.
							</p>
							<a class="button anchor-no-dec btn-flavor-secondary text-bold text-white" href="#">View All</a>
						</div>
					</div>
					
					<div class="col-md-6 car-showcase__images">
						<figure class="car-showcase__image overlay">
							<a href="#">
								<figcaption class="overlay-text">
									<div class="flexbox flexbox-center--vert flexbox-center--horz car-showcase__image-inner">
										<div>
											<h2 class="overlay-text__header text-center text-bold">Honda Civic</h2>
											<p class=" text-center text-bold">Learn More</p>
										</div>	
									</div>
								</figcaption>		
								<img class="overlay-image" src="/IBM-FED-Exercise/res/graphics/honda0.png" alt="Honda Civic"/>	
							</a>
						</figure>
						
						<figure class="car-showcase__image overlay">
							<a href="#">
								<figcaption class="overlay-text">
									<div class="flexbox flexbox-center--vert flexbox-center--horz car-showcase__image-inner">
										<div>
											<h2 class="overlay-text__header text-center text-bold">Other Honda</h2>
											<p class=" text-center text-bold">Learn More</p>
										</div>	
									</div>
								</figcaption>		
								<img class="overlay-image" src="/IBM-FED-Exercise/res/graphics/honda1.png" alt="Honda SUV"/>	
							</a>
						</figure>
					</div>
				
				</div>
			</div>
		</section>
		
		<!-- CAR-SHOWCASE 1 - AUDI -->
		<section class="car-showcase">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 car-showcase__images">
						<figure class="car-showcase__image overlay">
							<a href="#">
								<figcaption class="overlay-text">
									<div class="flexbox flexbox-center--vert flexbox-center--horz car-showcase__image-inner">
										<div>
											<h2 class="overlay-text__header text-center text-bold">Audi Car</h2>
											<p class=" text-center text-bold">Learn More</p>
										</div>	
									</div>
								</figcaption>		
								<img class="overlay-image" src="/IBM-FED-Exercise/res/graphics/audi0.png" alt="Audi Car"/>	
							</a>
						</figure>
						
						<figure class="car-showcase__image overlay">
							<a href="#">
								<figcaption class="overlay-text">
									<div class="flexbox flexbox-center--vert flexbox-center--horz car-showcase__image-inner">
										<div>
											<h2 class="overlay-text__header text-center text-bold">Other Audi</h2>
											<p class=" text-center text-bold">Learn More</p>
										</div>	
									</div>
								</figcaption>		
								<img class="overlay-image" src="/IBM-FED-Exercise/res/graphics/audi1.png" alt="Audi SUV"/>	
							</a>
						</figure>
					</div>
				
					<div class="col-md-6 car-showcase__text">
						<div class="pull-right car-showcase__text-inner">
							<h1 class="text-flavor-primary text-bold h4">Audi Cars and SUVs</h1>
							<p class="car-showcase__text__description text-flavor-primary">
								Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette 
								tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.
							</p>
							<a class="button anchor-no-dec btn-flavor-secondary text-bold text-white" href="#">View All</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- CAR-SHOWCASE 2 - CHEVY -->
		<section class="car-showcase">
			<div class="container">
				<div class="row">
					<div class="col-md-6 car-showcase__text">
						<div class="pull-left car-showcase__text-inner">
							<h1 class="text-flavor-primary text-bold h4">Chevy Cars and SUVs</h1>
							<p class="car-showcase__text__description text-flavor-primary ">
								Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette 
								tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.
							</p>
							<a class="button anchor-no-dec  btn-flavor-secondary text-bold text-white" href="#">View All</a>
						</div>
					</div>
					
					<div class="col-md-6 car-showcase__images">
						<figure class="car-showcase__image overlay">
							<a href="#">
								<figcaption class="overlay-text">
									<div class="flexbox flexbox-center--vert flexbox-center--horz car-showcase__image-inner">
										<div>
											<h2 class="overlay-text__header text-center text-bold">Chevy Car</h2>
											<p class=" text-center text-bold">Learn More</p>
										</div>	
									</div>
								</figcaption>		
								<img class="overlay-image" src="/IBM-FED-Exercise/res/graphics/chevy0.png" alt="Chevy Car"/>	
							</a>
						</figure>
						
						<figure class="car-showcase__image overlay">
							<a href="#">
								<figcaption class="overlay-text">
									<div class="flexbox flexbox-center--vert flexbox-center--horz car-showcase__image-inner">
										<div>
											<h2 class="overlay-text__header text-center text-bold">Other Chevy</h2>
											<p class=" text-center text-bold">Learn More</p>
										</div>	
									</div>
								</figcaption>		
								<img class="overlay-image" src="/IBM-FED-Exercise/res/graphics/chevy1.png" alt="Chevy SUV"/>	
							</a>
						</figure>
					</div>
				
				</div>
			</div>
		</section>
		
		<!-- CAR-SHOWCASE 3 - FORD-->
		<section class="car-showcase">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 car-showcase__images">
						<figure class="car-showcase__image overlay">
							<a href="#">
								<figcaption class="overlay-text">
									<div class="flexbox flexbox-center--vert flexbox-center--horz car-showcase__image-inner">
										<div>
											<h2 class="overlay-text__header text-center text-bold">Ford Car</h2>
											<p class=" text-center text-bold">Learn More</p>
										</div>	
									</div>
								</figcaption>		
								<img class="overlay-image" src="/IBM-FED-Exercise/res/graphics/ford0.png" alt="Ford Car"/>	
							</a>
						</figure>
						
						<figure class="car-showcase__image overlay">
							<a href="#">
								<figcaption class="overlay-text">
									<div class="flexbox flexbox-center--vert flexbox-center--horz car-showcase__image-inner">
										<div>
											<h2 class="overlay-text__header text-center text-bold">Other Ford</h2>
											<p class=" text-center text-bold">Learn More</p>
										</div>	
									</div>
								</figcaption>		
								<img class="overlay-image" src="/IBM-FED-Exercise/res/graphics/ford1.png" alt="Ford SUV"/>	
							</a>
						</figure>
					</div>
				
					<div class="col-md-6 car-showcase__text">
						<div class="pull-right car-showcase__text-inner">
							<h1 class="text-flavor-primary text-bold h4">Ford Cars and SUVs</h1>
							<p class="car-showcase__text__description text-flavor-primary">
								Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette 
								tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.
							</p>
							<a class="button anchor-no-dec  btn-flavor-secondary text-bold text-white" href="#">View All</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<footer>
			<div class="website-footer">
				<a class="brand" href="#">
					<img src="/IBM-FED-Exercise/res/graphics/logo0.png" alt="AutoSales.com's Logo">
					<img src="/IBM-FED-Exercise/res/graphics/logo1.png" alt="AutoSales.com's Logo">
				</a>
				<ul class="footer-nav pull-right">
					<li class="text-flavor-primary-bright text-bold">Copyright &copy; 2016 AutoSales.com</li> 
					<li class="text-flavor-primary-bright text-bold">All Rights Reserved</li>
					<li class="text-flavor-primary-bright text-bold"><a href="#">Privacy Policy</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>