$colorWhite: #fff;
$colorBlack: #000;

$colorHeroBg: #F3F3F0;

$autosalesColorTheme:
(
	primary: #3D4852,
	secondary: #4FC4E6,
	tertiary: #F07E5E,
	quaternary: #28C278
);

$autosalesColorThemeBright:
(
	primary: #6D7781,
	secondary: #5DD4F6,
	tertiary: #FD9476,
	quaternary: #2DD484
);